<div class="page-header">
  <h3><i class='icon-file'> </i><%= @design.part.name %></h3>
</div>
<h5>Protocol: <%= @design.protocol.name %></h5>

<% @design.construct.each do |construct| %>
  <b><%= construct.name %></b><br>
  <div id="construct">
    <%= construct.seq %>
  </div>
  <br>
<% end %>
