<h3>Designed parts for <%= @design.part.name %></h3>
<br>
<h5>Protocol: <%= @design.protocol.name %></h5>
<br>
<% @design.construct.each do |construct| %>
  <b><%= construct.name %></b><br>
  <div id="construct">
    <%= construct.seq %>
  </div>
  <br>
<% end %>
