<div class="page-header">
  <h2><i class='icon-file'> </i><%= @design.part.name %></h2>
</div>
<h5>Design Standard: <%= @design.protocol.name %></h5>

<% @design.constructs.each do |construct| %>
  <b><%= construct.name %></b><br />
  <div id="construct">
    <%= construct.seq %>
  </div>
  <br />
<% end %>
