<div class="page-header">
  <h3><i class="icon-play-circle"> </i>Editing part</h3>
</div>
<%= simple_form_for @part  do |f| %>
  <div class="container">
    <%= f.input :name %>
  </div>
  <div class='form-actions'>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
