<h3>New part</h3>

<%= form_tag({:controller => "parts", :action => "create"}, :method => "post") do %>
  <table>
    <tr>
      <td colspan='2'><%= label_tag(:accession, "Protein/Nucleotide Accession Number:") %></td>
    </tr>
    <tr>
      <td><%= text_area_tag(:accession, "", :size => "50x10")%></td>
      <td>One id per line<br>e.g.<br>NP_539626.1<br>NP_459636.1<br>P29929.1</td>
    </tr>
    <tr>
      <td colspan='2'><%= submit_tag("Create Parts", :class => "btn btn-primary") %></td>
    </tr>
  </table>
<% end %>


