<h2><i class='icon-file'> </i>Editing user</h2>
<hr />
<%= simple_form_for @user do |f| %>
  <%= f.input :fullname %>
  <div class='form-actions'>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
