<h3>User Info</h3>

<table class="tablesorter-blue">
  <tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>Provider</th>
    <th></th>
  </tr>

  <tr>
    <td><%= @user.fullname %></td>
    <td><%= @user.email %></td>
    <td><%= @user.provider %></td>
    <td><%= link_to 'Edit', edit_user_path(@user), {:style => 'color: #049cdb;'} %></td>
  </tr>
</table>

<br />
<br />
