<h2><i class="icon-folder-open"> </i>Admin</h2>
<hr />
<p>
<div class="row-fluid">
  <div class="span4">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= current_user.lab.name %></th>
        </tr>
      </thead>
      <tbody>		
        <tr>
          <td><span class="badge badge-info"><%= current_user.lab.users.size %></span> Lab members</td>
        </tr>
        <tr>
          <td><span class="badge badge-success"><%= current_user.lab.parts.size %></span> Parts</td>
        </tr>
        <tr>
          <td><span class="badge badge-success"><%= current_user.lab.designs.size %></span> Designs</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</p>

