<div class="page-header">
	<h3><i class="icon-folder-open"> </i>Admin</h3>
</div>
<p>
	<div class="row-fluid">
		<div class="span4">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>		
					<tr>
						<td><span class="badge badge-info"><%= @count_users %></span> Registered Users</td>
					</tr>
					<tr>
						<td><span class="badge badge-success"><%= @count_parts %></span> Parts</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</p>

