<ul class="nav">
  <!-- Workspace menu -->
	<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    Design Standards
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'View', admin_protocols_path %></li>
    <li><%= link_to 'New', new_admin_protocol_path %></li>	
  </ul>
	</li>

	<li><%= link_to 'Accounts', admin_users_path %><li>
</ul>

<ul class="nav pull-right">
	<li><%= link_to 'Home', root_path %></li>
</ul>
